{{ $icon := .Get "icon" }}
{{ $imageSrc := .Get "imageSrc" }}
{{ $imageAlt := .Get "imageAlt" }}
{{ $imageTitle := .Get "imageTitle" }}
{{ $badge := .Get "badge" }}
{{ $degree := .Get "degree" }}
{{ $title := .Get "title" }}
{{ $location := .Get "location" }}
{{ $text := .Get "text" }}
{{ $website := .Get "website" }}
<li class="list-none">
  <div class="flex flex-start">
    <div class="bg-primary-500 dark:bg-primary-300 text-neutral-50 dark:text-neutral-700 min-w-[30px] h-8 text-2xl flex items-center justify-center rounded-full -ml-12 mt-5">
      {{ if $icon }}
        {{ partial "icon" $icon }}
      {{ end }}
    </div>
    <div class="block p-6 rounded-lg shadow-2xl min-w-full ml-6 mb-10 break-words">
      <div class="flex justify-between mb-16">
        {{ if $imageSrc }}
        <div>
          <img class="m-0 rounded-md shadow dark:shadow-none" width="150" src="{{ $imageSrc }}" alt="{{ $imageAlt }}" title="{{ $imageTitle }}">
        </div>
        {{ end }}
        {{ if $badge }}
        <div>
          {{ partial "badge"  $badge}}
        </div>
        {{ end }}
      </div>
      {{ if $degree }}
      <h4 class="m-0">
        {{ $degree }}
      </h4>
      {{ end }}
      {{ if $title }}
      <h4 class="m-0">
        {{ $title }}
      </h4>
      {{ end }}
      {{ if $location }}
      <small class="m-0">
        {{ $location }}
      </small>
      {{ end }}
      <p class="text-gray-700 mt-10">{{- .Inner -}}</p>
      {{ if $website }}
      <p class="mt-10">Lien vers la formation : <a href="{{ $website }}" target="_blank">{{ $website }}</a></p>
      {{ end }}
    </div>
  </div>
</li>
